@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  background-color: #f2f2f2;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-weight: bold;
  margin: 1.5rem;
  text-align: center;
  max-width: 25em;
  display: block;
}

img {
  width: 100%;
  display: block;
  padding: 1em;
}

a {
  text-decoration: none;
  color: #666;
  border: 3px solid #333;
  border-radius: 10px;
  padding: .4em .75em .5em;
  margin: 1.5rem;
}

a:hover {
  background-color: #666;
  color: #f2f2f2;
  border: 3px solid #666;
}

.btn {
  margin: 1.5rem;
  text-align: left;
}

body {
  margin: 0;
}

h2 {
  max-width: 25em;
}

div {
  max-width: 25em;
}

p {
  display: block;
}

h2 a {
  font-size: .8em;
}
